$color-primary: #d2c1b0;
$color-secondary: #80411e;

body {
    background-color: $color-primary;
}

#interiorPic {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

#icon {
    color: $color-secondary;
}


#feedbackCustom {
    background-color: $color-secondary;
    border-radius: 10px;
}

#textarea {
    margin-bottom: 10px;
}

#submit {
    background-color: $color-primary;
}

.modal-header {
    background-color: $color-secondary;
}

#menu {
    margin-bottom: 50px;
}

.card-body {
    background-color: #e4bc84;
}

#quote {
    background-color: #decaad;
}