body {
    background-color: #d2c1b0;
}

#interiorPic {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

#icon {
    color: #80411e;
}


#feedbackCustom {
    background-color: #80411e;
    border-radius: 20px;
}

#textarea {
    margin-bottom: 10px;
}

#submit {
    background-color: #d2c1b0;
}

.modal-header {
    background-color: #80411e;
}

#menu {
    margin-bottom: 50px;
}